@import '../../../../../assets/scss/main.scss';

.profile-icon {
  color: $voilet;
}

.down-arrow {
  height: 20px;
  width: 20px;
}

.apps-widget {
  & .mat-icon {
    height: 1.2rem;
    line-height: 0;
  }
}

.img-brand {
  width: 2rem;
}

.user-profile {
  display: unset;
}

@media screen and (max-width: 500px) {
  .user-profile {
    display: none;
  }
}
