<mat-icon svgIcon="assets:logofull" class="logofull"></mat-icon>

<div *ngIf="resetStepper == 1">
  <h1>Forgot Password</h1>
  <!-- <p class="auth-intro">Let's get you all setup so you can verify your account <br> and get set go on the fulfillment journey.</p> -->
  <p class="text-grey">
    Enter your email or phone number (without extension) to receive OTP for
    password reset.
  </p>
  <form (ngSubmit)="forgotpassword()" [formGroup]="forgotform" fxFill>
    <mat-form-field fxFill>
      <mat-label>Enter phone number or email id</mat-label>
      <input matInput required formControlName="mode" />
      <mat-error *ngIf="forgotform.controls.mode.errors">{{
        forgotform.controls.mode.errors.required
          ? 'Please enter phone number or email id'
          : forgotform.controls.mode.errors.invalidUser
      }}</mat-error>
    </mat-form-field>
    <button fxFill class="btn-action btn-success" mat-flat-button>
      Send OTP
    </button>
  </form>
  <h4 class="text-muted text-center">
    Remember the password?
    <a class="text-purple text-decoration-none" routerLink="/login">Log In</a>
  </h4>
</div>
<div *ngIf="resetStepper == 2">
  <h1>Enter OTP</h1>
  <!-- <p class="auth-intro">Let's get you all setup so you can verify your account <br> and get set go on the fulfillment journey.</p> -->
  <p class="text-grey">
    OTP sent to <strong>{{ sentToData.email }}</strong> and
    <strong>{{ sentToData.mobile }}</strong>
  </p>
  <form (ngSubmit)="sendOTP()" [formGroup]="otpForm" fxFill>
    <mat-form-field fxFill>
      <mat-label>Enter OTP</mat-label>
      <input matInput required formControlName="otp" />
      <mat-error *ngIf="otpForm.controls.otp.errors">{{
        otpForm.controls.otp.errors.required
          ? 'Please enter OTP'
          : otpForm.controls.otp.errors.invalidOTP
      }}</mat-error>
    </mat-form-field>
    <button fxFill class="btn-action btn-success" mat-flat-button>Reset</button>
  </form>
  <p class="text-grey">
    Didn't receive OTP? <a class="pointer" (click)="resendOTP()">Resend</a>
  </p>
</div>
<div *ngIf="resetStepper == 3">
  <h1>Reset Password</h1>
  <form (ngSubmit)="resetPassword()" [formGroup]="passwordResetForm" fxFill>
    <mat-form-field fxFill>
      <mat-label>New Password</mat-label>
      <input type="password" matInput required formControlName="newpass" />
      <mat-error *ngIf="passwordResetForm.controls.newpass.errors">{{
        passwordResetForm.controls.newpass.errors?.minlength
          ? 'Minimum length should be ' +
            passwordResetForm.controls.newpass.errors.minlength.requiredLength
          : passwordResetForm.controls.newpass.errors.pattern
          ? 'Password should contain one uppercase,one lowercase, one number and one special character'
          : 'Password is required'
      }}</mat-error>
    </mat-form-field>
    <mat-form-field fxFill>
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput required formControlName="confirm" />
      <mat-error *ngIf="passwordResetForm.controls.confirm.errors">{{
        passwordResetForm.controls.confirm.errors?.minlength
          ? 'Minimum length should be ' +
            passwordResetForm.controls.confirm.errors.minlength.requiredLength
          : passwordResetForm.controls.confirm.errors.pattern
          ? 'Password should contain one uppercase,one lowercase, one number and one special character'
          : passwordResetForm.controls.confirm.errors.confirm
          ? passwordResetForm.controls.confirm.errors.confirm
          : 'Password is required'
      }}</mat-error>
    </mat-form-field>
    <button fxFill class="btn-action btn-success" mat-flat-button>
      Reset Password
    </button>
  </form>
</div>

<div class="loader" *ngIf="showLoader">
  <img src="assets/images/loader.svg" alt="" /> Please wait
</div>
