.mat-paginator-range-label {
	display: none;
}
.mat-paginator-container{
	padding: 0 !important;
	flex-direction: row-reverse;
	justify-content: space-between !important;
}
.mat-paginator-page-size{
	margin-right: 0 !important;
}