<div class="modal-content">
  <div class="header text-center">
    <h3>WELCOME!</h3>
    <!-- <h4>Let's Get Started</h4>
		<span class="line"></span> -->
  </div>
  <div class="row text-center">
    <div class="col-12">
      <p class="text-grey">We would like to understand your business better.</p>
      <p class="text-grey">
        Answer a few questions to help us provide you a seamless fulfillment
        experience.
      </p>
      <hr />
    </div>

    <div class="col-12 text-left">
      <p>1. The number of monthly orders you process in a month is</p>
      <mat-form-field appearance="outline" class="appearance-purple">
        <mat-label class="text-purple">Select monthly orders</mat-label>
        <mat-select [(ngModel)]="monthlyOrders">
          <ng-container *ngFor="let range of orderRange">
            <mat-option [value]="range.value"> {{range.name}} </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <p *ngIf="displayError[0]" class="text-red">Monthly orders is required</p>
    </div>
    <div class="col-12 text-left">
      <p>2. Your business category is</p>
      <mat-form-field appearance="outline" class="appearance-purple">
        <mat-label class="text-purple">Select business category</mat-label>
        <mat-select [(ngModel)]="businessCategory">
          <ng-container *ngFor="let category of businessCategories">
            <mat-option [value]="category.value">
              {{category.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <p *ngIf="displayError[1]" class="text-red">
        Business category is required
      </p>
    </div>

    <div class="col-12 text-left">
      <p>3. Select atleast one warehouse</p>
      <div *ngIf="!warehouseList.length" class="my-4 text-muted">
        Loading...
      </div>
      <div
        class="d-flex flex-wrap"
        *ngIf="warehouseList.length"
      >
        <label
          for="{{warehouseItem.warehouse_code}}"
          *ngFor="let warehouseItem of warehouseList"
          class="pointer ml-md-2 br-6 bdr-lg p-sm inline text-center warehouse-select relative"
        >
          <span class="material-icons text-grey"> home_work </span><br />
          <span class="text-purple"> {{warehouseItem.name}} </span>
          <input
            type="checkbox"
            [(ngModel)]="warehouse[warehouseItem.warehouse_code]"
            value="{{warehouseItem.warehouse_code}}"
            #ctrlName="ngModel"
            id="{{warehouseItem.warehouse_code}}"
            style="display: none"
            name="selected_warehouse[]"
          />
          <span
            *ngIf="warehouse[warehouseItem.warehouse_code]"
            class="check-icon material-icons text-green text-middle"
            >check_circle</span
          >
        </label>
      </div>
      <p class="text-red mt-sm" *ngIf="displayError[2]">
        Please select a warehouse.
      </p>
    </div>

    <div class="col-12 text-center">
      <button
        mat-raised-button
        class="btn-purple text-white btn-action"
        (click)="welcomeStepper()"
      >
        Go To Dashboard</button
      ><br />
    </div>
  </div>

  <!-- <div class="text-center">
		<div  *ngIf="welcomeStep == 0">
			<p class="text-grey">We would like to understand your business better.</p>
			<p class="text-grey">Answer a few questions to help us provide you a seamless fulfillment experience.</p>
		</div>
		<div  class="inline text-left" *ngIf="welcomeStep == 1 || welcomeStep == 2">
			<div *ngIf="welcomeStep <=2">
				<p>1. The number of monthly orders you process in a month is</p>
				<span class="relative">
					<select [disabled]="welcomeStep > 1" class="br-6 bdr-lg form-control" [(ngModel)]="monthlyOrders"  #ctrlName="ngModel">
						<option *ngFor="let range of orderRange" [ngValue]="range.value">{{range.name}}</option>
					</select>
					<p *ngIf="displayError[0]" class="text-red">Monthly orders is required</p>
				</span>
			</div>
			<div class="text-left" *ngIf="welcomeStep == 2">
				<p>2. Your business category is</p>
				<span class="relative">
					<select class="br-6 bdr-lg form-control" [(ngModel)]="businessCategory"  #ctrlName="ngModel">
						<option *ngFor="let category of businessCategories" [ngValue]="category.value">{{category.name}}</option>
					</select>
					<p *ngIf="displayError[1]" class="text-red">Business category is required</p>
				</span>
			</div>
		</div>
		<div  *ngIf="welcomeStep == 3" >
			
			<div class="text-left" fxLayout="row wrap"  fxLayoutGap fxLayoutAlign="space-between stretch">
				<label for="{{warehouseItem.warehouse_code}}" *ngFor="let warehouseItem of warehouseList" class="br-6 bdr-lg p-sm inline text-center warehouse-select relative">
					<span class="material-icons text-grey">
					home_work
					</span><br>
					<span class="text-purple">
						{{warehouseItem.name}}
					</span>
					<input type="checkbox" [(ngModel)]="warehouse[warehouseItem.warehouse_code]" value="{{warehouseItem.warehouse_code}}"  #ctrlName="ngModel" id="{{warehouseItem.warehouse_code}}" style="display: none;" name="selected_warehouse[]">
					<span *ngIf="warehouse[warehouseItem.warehouse_code]"  class="check-icon material-icons text-green text-middle">check_circle</span>
				</label>
			</div>
			<p class="text-red mt-sm" *ngIf="noWarehouseSelected">Please select a warehouse.</p>
      <br><br>
      
			<div fxLayout="row wrap" fxLayoutGap="10px grid" class="text-left">
			 <ng-template ngFor let-warehouseInputItem [ngForOf]="warehouseList" >
			   <div *ngIf="warehouse[warehouseInputItem.warehouse_code]" fxFlex="50">
			   	<p>Enter {{warehouseInputItem.city}} GST number</p>
			   	<input [(ngModel)]="gstArray[warehouseInputItem.warehouse_code]" type="text" #ctrlName="ngModel" class="form-control br-6" name="" placeholder="Enter Bangalore GST">
			   	<p class="text-red" *ngIf="gstErrors[warehouseInputItem.warehouse_code]">Please provide valid 15 digit GST number.</p>
			   </div>
			 </ng-template>
			</div>
		</div>
		<div>
			<button  mat-raised-button class="btn-purple text-white btn-action" (click)="welcomeStepper()">{{welcomeStep == 0 ? "Start" : welcomeStep < 3 ? "Next" : "Go To Dashboard"}}</button><br>
		</div>
	</div> -->
</div>
<div class="loader" *ngIf="showLoader">
  <img src="assets/images/loader.svg" alt="" /> Please wait
</div>
