@import '../../../assets/scss/pages/authentication.scss';

.left-section {
  background-color: #262726;
  background-image: url('../../../assets/images/img/rings.png');
  background-repeat: no-repeat;
  background-position-x: -20rem;
  background-position-y: 30rem;
}
