<form [formGroup]="selectBarcodes" (submit)="onClickSubmit($event)">
  <div class="text-center mb-4">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6">
        <h2 class="font-weight-bold">How do you barcode your products ?</h2>
        <p class="text-muted">
          These are the barcode formats that we have for your products. If you
          would like us to print and paste these in the FC, select the
          checkboxes at the bottom.
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-10 p-0">
        <button
          mat-icon-button
          class="m-2 ml-auto download-btn pull-right"
          matTooltip="Download Barcodes"
          (click)="downloadBarcode($event)"
        >
          <mat-icon>get_app</mat-icon>
        </button>

        <div class="pull-right asn-barcode-download">
          <span *ngIf="donwloadingProcess == 1">Please Wait</span>
          <span *ngIf="donwloadingProcess == 2">Completed</span>
        </div>
        <!-- <a
          #barcode_download
          hidden
          href="#"
          onclick="return false;"
          [name]="'asn_barcode'"
          [reponseType]="'export'"
          [requestData]="downloadBarcodePayload"
          [download_url]="barcodeDownloadURL"
          [method]="'post'"
          [type_name]="'ASN Barcode'"
          id="downloadBarcodes"
          appDownload
        ></a> -->
      </div>
    </div>
    <br />

    <ng-container *ngIf="getBarcodes.length; else zeroProducts">
      <div class="row justify-content-center">
        <div
          class="col-lg-10 bdr-g br-10 p-0 w-95 mx-3 mx-lg-auto table-responsive"
        >
          <table class="table table-sm text-left mb-0 rm-top-border">
            <thead>
              <tr>
                <th scope="col" class="pl-md-4">SKU</th>
                <th scope="col">Product Name</th>
                <th scope="col">Barcode Type</th>
                <th scope="col">Identifier</th>
                <!-- <th scope="col"></th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container
                formArrayName="barcodes"
                *ngFor="let detail of getBarcodes.controls; let i = index"
              >
                <tr>
                  <th scope="row" class="pl-md-4">
                    {{ detail.value.sku }}
                  </th>
                  <td>{{ detail.value.product_name }}</td>
                  <td>{{ detail.value.barcode_type | uppercase }}</td>
                  <td>{{ detail.value.sr_pin }}</td>
                  <!-- <td>
                    <button
                      class="close float-none text-red"
                      (click)="removeItem(i)"
                    >
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </td> -->
                </tr>
              </ng-container>
              <ng-container *ngIf="isBulk && skuLeft">
                <tr><td colspan=4><span class="pull-right">... {{skuLeft}} more items.</span></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <br />
    <div class="row">
      <div class="col">
        <h3 class="font-weight-bold mb-1">Print and paste in FC</h3>
        <mat-checkbox
          formControlName="mrpCheck"
          color="primary"
          class="gray-checkbox"
          >MRP Labels</mat-checkbox
        >
        <mat-checkbox
          formControlName="barcodesCheck"
          color="primary"
          class="gray-checkbox ml-3"
          >Barcodes</mat-checkbox
        >
      </div>
    </div>
  </div>
  <hr />
  <div class="d-flex justify-content-between align-items-center">
    <button mat-stroked-button type="button" (click)="onClickPrev()">
      Previous
    </button>
    <div class="text-muted">{{ formStatus }}</div>
    <button mat-stroked-button class="btn-purple text-light" type="submit">
      Next
    </button>
  </div>
</form>

<ng-template #zeroProducts>
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 20vh"
  >
    <h2 class="text-muted font-weight-bold">No Products Found</h2>
  </div>
</ng-template>
